* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

a,
strong,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ee4c2c !important;
}

a, p, span{
  font-weight: 400;
}

strong, b, h1, h2, h3, h4, h5, h6{
  font-weight: 600;
}

a{
  text-decoration: none;
}

a:hover{
  font-weight: 600;
}

h1{
  font-size: 3rem;
}

body{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 50px;
  padding-bottom: 50px;
}

.header p{
  margin-top: 20px;
}

nav {
  margin-top: 50px;
  margin-bottom: 50px;
}

nav ul {
  list-style: none;
}

nav ul li{
  margin-top: 7px;
  margin-bottom: 7px;
}

nav ul li ul li{
  padding-left: 20px;
}


.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}